<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Speech Analyzer</title>
</head>


<body>
    <header>
        <h1>Speech Analyzer</h1>
    </header>
    <form>Enter article
        <input id="textplace" type="text">
        <button id="submit" type="button" onclick="Client.updateUI()">submit</button>>
    </form>
    <div id="DataPosted">
        <p id="polarity"></p>
        <p id="subjectivity"></p>
        <p id="text"></p>
        <p id="polarity_confidence"></p>
        <p id="subjectivity_confidence"></p>
    </div>
    <footer>Stay Home and stay safe</footer>
</body>